<html layout:decorate="~{layout}">
  <div layout:fragment="content">
      <h1 th:text="${article.subject}"></h1>
      <div th:text="${article.content}"></div>
      <div class="mb-2">
          <span th:if="${article.author != null}" th:text="${article.author.username}"></span>
      </div>
      <div class="my-3">
          <a th:href="@{|/article/modify/${article.id}|}" class="btn btn-sm btn-outline-secondary"
             sec:authorize="isAuthenticated()"
             th:if="${article.author != null and #authentication.getPrincipal().getUsername() == article.author.username}"
             th:text="수정"></a>
          <a onclick="return confirm('정말 삭제하시겠습니까?')"
             th:href="@{|/article/delete/${article.id}|}"
             class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
             th:if="${article.author != null and #authentication.getPrincipal().getUsername() == article.author.username}"
             th:text="삭제"></a>
      </div>

    <h5 th:text="|${#lists.size(article.commentList)}개의 답변이 있습니다.|"></h5>
    <div>
      <ul>
        <span>답변 내용  </span>
        <li th:each="comment : ${article.commentList}" th:text="${comment.content}"></li>
      </ul>
    </div>

    <form th:action="@{|/comment/create/${article.id}|}" method="post" th:object="${commentForm}">
      <div th:replace="~{form_errors :: formErrorsFragment}">
      </div>
        <textarea th:field="*{content}" class="form-control" rows="10"
                  th:disabled="${#authorization.expression('isAnonymous()')}"></textarea>
      <input type="submit" value="답변등록">
    </form>
  </div>
</html>