<html layout:decorate="~{layout}">
  <div layout:fragment="content">
    <h1 th:text="${article.subject}"></h1>
    <div th:text="${article.content}"></div>

    <h5 th:text="|${#lists.size(article.commentList)}개의 답변이 있습니다.|"></h5>
    <div>
      <ul>
        <span>답변 내용  </span>
        <li th:each="comment : ${article.commentList}" th:text="${comment.content}"></li>
      </ul>
    </div>

    <form th:action="@{|/comment/create/${article.id}|}" method="post" th:object="${commentForm}">
      <div th:replace="~{form_errors :: formErrorsFragment}">
      </div>
      <textarea name="content" id="content" rows="15" th:field="*{content}"></textarea>
      <input type="submit" value="답변등록">
    </form>
  </div>
</html>